
<div class="jumbotron page-authen">
  <p class="lead">
    <img class="logo1" src="images/logoacademia.jpg" alt="logo academia" height="102" width="212">
  </p>
  <div class="cadre-authen">
  <div ng-if="vm.currentUser.login!=null">Welcome {{vm.currentUser.firstName}} {{vm.currentUser.lastName}}</div>
  <div ng-if="vm.currentUser.login==null">
    <form name="editForm" role="form" novalidate ng-submit="vm.login()" show-validation>
      <p>
        <label for="login">
          Login :</label> <br>
        <input type="text" name="login" id="login" class="inputrond" ng-model="vm.log"/>

        <br />
        <label for="pass">Mot de passe :</label> <br>
        <input type="password" name="pass" id="pass" class="inputrond"  ng-model="vm.mdp"/>

      </p>
      <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">
          <span>Se connecter </span>
        </button>
      </div>
    </form>


  </div>
  <button type="button"  class="btn btn-primary" ng-if="vm.currentUser.id!=null" ng-click="vm.unlog()">
    <span>Se déconnecter </span>
  </button>
  <br><br>
  Pour se connecter avec un compte admin: login=toto<br>
  Pour se connecter avec un compte respo: login=titi<br>
  Pour se connecter avec un compte client: login=roro<br>
  Pour se connecter avec un compte student: login=koko<br>
    <br>
    <br>
    <h1>{{vm.message}}</h1>
  </div>
</div>


<div class="row barre-authen" role="group" aria-label="...">
  <div class="col-xs-12 col-sm-4 col-md-4" role="group" has-any-authority="RESPO,ADMIN">
    <a href="#/PlanningRespo">
      <button type="button" class="btn btn-primary"> Responsable Module </button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4" role="group" has-any-authority="CLIENT,ADMIN">
    <a href="#/PlanningClient">
      <button type="button" class="btn btn-primary">Client</button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4" role="group" has-any-authority="ELEVE,ADMIN">
    <a href="#/EditTeam" ng-if="vm.team!=null" >
      <button type="button" class="btn btn-primary">Élève</button>
    </a>
    <a href="#/RepartitionEquipe" ng-if="vm.team==null">
      <button type="button" class="btn btn-primary">Élève</button>
    </a>
  </div>
</div>
