<div class="row">
  <div class="col-sm-2 col-md-2 menu-g">
    <ul class="nav nav-pills nav-stacked">
      <li class="active" ng-if="vm.team!=null" ><a href="#/EquipesAttribuees"><i class="fa fa-list-alt fa-fw"></i>Equipe attribuée</a></li >
      <li class="active" ng-if="vm.team==null" ><a href="#/RepartitionEquipe"><i class="fa fa-list-alt fa-fw"></i>Intégrer une équipe</a></li >
      <li class="active"><a href="#/DepotEleve"><i class="fa fa-home fa-fw"></i>Dépôts documents</a></li>
      <li><a href="#/PlanningVuEleve"><i class="fa fa-file-o fa-fw"></i>Prise de rdv </a></li>
      <li><a href="#/MurEleve"><i class="fa fa-bar-chart-o fa-fw"></i>Mur </a></li>
      <li><a href="#/SujetEleve"><i class="fa fa-table fa-fw"></i>Sujet</a></li>
    </ul>
  </div>
  <div class="col-sm-10 col-md-10 well">
    <div class="mainContent">
                <span id="zonedepot-ele">
                    <p class="titre-depot">Zone de dépot</p>
                    <span id="depot">
                        <form ng-model="document.depoDate" action="" enctype="multipart/form-data">
                            <input class="dep-file" type="file" for="fichierdepot" name="<?php $_FILES['fichierdepot']['name']?>" />
                          <div class="bouton-form">
                            <button id="publ-ele-mur" class="btn btn-primary" ng-click="an.addDocument(document)">Envoyer</button>
                            <!--<input class="btn btn-primary" type="submit" value="Envoyer">-->
                          </div>
                        </form>
                    </span>
                </span>
      <span id="zonedoc" ng-repeat="document in documents">
                    <p class="titre-depot">Fichier(s) déposé(s)</p>
                    <div class="row fic-depot">
                        <div class="col-md-1 icone-depot glyphicon glyphicon-folder-close"></div>
                        <div class="col-md-5 nom-fichier">A chercher dans la BDD</div>
                        <div class="col-md-5">
                        <div class="row">
                            <p class="date_depot">Déposé le : {{document.depoDate | date: date:'dd/MM/yyyy'}}</p>
                        </div>
                        <div class="row">
                            <p class="date_depot">A : {{document.depoDate | date: date:'HH:mm:ss'}}</p>
                        </div>
                        <div class="row">
                            <div class="date_limite">Date limite de dépôt : (je ne sais pas, jointure à faire)</div>
                        </div>
                        </div>
                        <button class="col-md-1 tele_fichier glyphicon glyphicon-download-alt" ></button>
                    </div>
                </span>
    </div>
  </div>
</div>
