<div class="row">
  <div class="col-md-2 menu-g">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#"><i class="fa fa-home fa-fw"></i>Planning</a></li>
      <li class="active" ng-if="vm.team!=null" ><a href="#/EquipesAttribuees"><i class="fa fa-list-alt fa-fw"></i>Equipes attribuées</a></li >
      <li class="active" ng-if="vm.team==null" ><a href="#/RepartitionEquipe"><i class="fa fa-list-alt fa-fw"></i>Equipes attribuées</a></li >
      <li><a href="#/FicheEvaluation"><i class="fa fa-table fa-fw"></i>Fiche evaluation projet</a></li>
    </ul>
  </div>
  <a href="#/EditTeam" ng-if="vm.team!=null" >
    <button type="button" class="btn btn-primary">Élève</button>
  </a>
  <a href="#/RepartitionEquipe" ng-if="vm.team==null">
    <button type="button" class="btn btn-primary">Élève</button>
  </a>
  <div class="col-md-10 well">

    <p>Les équipes qui vous sont attribuées :</p> <br/>
  </div>
</div>
