<div class="row">
  <div class="col-sm-2 col-md-2 menu-g">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#/RepartitionEquipeEleve"><i class="fa fa-table fa-fw"></i>Répatition équipe</a></li>
      <li ><a href="#/DepotEleve"><i class="fa fa-home fa-fw"></i>Dépôts documents</a></li>
      <li ><a href="#/PlanningVuEleve"><i class="fa fa-file-o fa-fw"></i>Prise de rdv </a></li>
      <li ><a href="#/MurEleve"><i class="fa fa-bar-chart-o fa-fw"></i>Mur </a></li>
      <li ><a href="#/SujetEleve"><i class="fa fa-table fa-fw"></i>Sujet</a></li>


    </ul>
  </div>
  <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="col-sm-10 col-md-10 well">
      <h1 class="titreh1">
        Création de votre équipe :
      </h1>
      Veuillez saisir le nombre d'équipe que vous voulez créer.<br><br>
      Nombre d'équipe qui vont être créé: <input type="number" ng-model="vm.number"/>
      <div class="btn-groupe">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
      </button>
      <button type="submit"  class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Créer</span>
      </button>
    </div>
  </form>
  </div>
</div>
