<div class="row">
  <section class="col-sm-2 col-md-2 menu-g">
    <ul class="nav nav-pills nav-stacked">
      <li ><a href="#/PlanningRespo"><i class="fa fa-home fa-fw"></i>Planning</a></li>
      <li><a href="#/GestionClients"><i class="fa fa-list-alt fa-fw"></i>Gestion clients</a></li>
      <li ><a href="#/Equipe"><i class="fa fa-bar-chart-o fa-fw"></i>Equipes</a></li>
      <li class="active"><a href="#/Sujet"><i class="fa fa-table fa-fw"></i>Sujets</a></li>
      <li><a href="#/ConsultationDepotEleve"><i class="fa fa-tasks fa-fw"></i>Dépôts élèves</a></li>
      <li><a href="#/MurRespo"><i class="fa fa-calendar fa-fw"></i>Mur</a></li>
      <li><a href="#/FicheEvaluation"><i class="fa fa-calendar fa-fw"></i>Fiche évaluation</a></li>
      <li><a href="#/CreationEquipe"><i class="fa fa-calendar fa-fw"></i>Création d'équipe</a></li>

    </ul>
  </section>

    <div class="col-sm-10 col-md-10 well">

  <form name="editForm" role="form" novalidate ng-submit="sc.save()" show-validation>
    <div class="col-md-offset-1 col-md-10">

      <div class="spacer5">
        <div class="row">
          <div id="zonedepot-ele">
            <div class="titre-depot">Créer un nouveau sujet</div>
            <div id="depot">
              <form novalidate name ="formSubject" >
                <table>
                  <tr><td>Sujet :</td><td> <input type="text" ng-model="subject.title"></td></tr>

                  <tr><td>Description :</td><td> <input type="text" ng-model="subject.content" ></td></tr>

                  <tr><td colspan="2"><input type="file" for="fichierdepot" name="" /></td></tr>
                  <tr><td colspan="2" id="but-suj"><button class="btn btn-primary" data-ng-click="sc.addSubject(subject)">Sauvegarder</button></td></tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-10 table-equipe">
            <div  class="container" id="livrable">
              <div class="table-responsive">
                <form name="subjectForm" role="form" novalidate ng-submit="sc.save()" show-validation>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Sujet</th>
                      <th>Description</th>
                      <th>Fichier</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="subject in sc.subjects">
                      <td>{{ subject.title }}</td>
                      <td>{{ subject.content }}</td>
                      <td><a>Lien fichier</a></td>
                      <td>
                        <button class="btn btn-danger" data-ng-click="sc.deleteSubject(subject.id)">Delete</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="bouton-form"><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Update</span>
                  </button></div>
                </form>
                <div ng-if="sc.message">{{sc.messageDelete}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form></div>
</div>
